body{
    background: wheat;
    font-family: sans-serif;
}
#name, #message{
    outline: none;
    border: 0;
    border-radius: 6px;
    padding: 5px;
    font-size: 20px;
    display: block;
    margin: 0 auto ;
    margin-bottom: 20px;
    width: 90%;
    
}
#name{
    text-align: center;
    max-width: 200px;
}
#message{
    resize: none;
    max-width: 600px;
    max-height: 300px;
}
#message::-webkit-scrollbar{
    display: none;
}
#submit{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px auto ;
    display: block;
    transition: .2s ease;
}
@media(hover: hover){
    #submit:hover{
        transform: scale(1.2);
    }
    .msg:hover{
        transform: scale(1.01);
    }
}
#chats{
    font-size: 20px;
    overflow-y: scroll;
    height: 60vh;
    background-color: aliceblue;
    padding: 20px 5px 20px 5px;
    border-radius: 12px;
    scrollbar-width: none;
    margin-bottom: 30px;
    
}
.msg{
    white-space: pre-wrap;
    margin: 0 0 3px 0;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    word-break: break-word;
    border-radius: 12px;
    transition: 0.5s ease;
}
#chats::-webkit-scrollbar{
    display: none;
}
#userCount{
    font-size: 20px;
}
.timestamp{
    font-size: 15px;
    color: grey;
    margin: 15px 0 5px 0;
}